{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="space" style="height: 120px;"></div>
<section class="error-area space-top space-extra-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="error-wrap text-center">
                    <div class="error-img">
                        <img src="{% static 'flarebit_site/assets/img/normal/error.svg' %}" alt="404 Resmi">
                    </div>
                    <h2 class="error-title">404 Page Not Found</h2>
                    <p class="error-text">Sorry, the page you are looking for does not exist or has been moved.</p>
                    <div class="btn-group justify-content-center">
                        <a href="/" class="th-btn">Go to Home<i class="fas fa-long-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="space" style="height: 120px;"></div>
{% endblock %}
