{% extends 'layout.html' %}

{% block content %}
{% include 'sections/cover_with_nav.html' %}
        <section class="th-blog-wrapper space-top space-extra-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-8 col-lg-7">
                        {% if blogs %}
                            {% for blog in blogs %}
                                <div class="th-blog blog-single has-post-thumbnail">
                                    <div class="blog-img">
                                        <a href="/blog/{{ blog.category.slug }}/{{ blog.slug }}">
                                            {% if blog.image %}
                                                <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                            {% else %}
                                                <img src="/static/flarebit_site/assets/img/blog/blog_image.jpg" alt="Blog Image">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta">
                                            <a>
                                                <i class="fa-light fa-calendar-days"></i>
                                                {{ blog.created_at|date:"d F Y" }}
                                            </a>
                                        </div>
                                        <h2 class="blog-title">
                                            <a href="/blog/{{ blog.category.slug }}/{{ blog.slug }}">{{ blog.title }}</a>
                                        </h2>
                                        <!-- <p class="blog-text">{% spaceless %}{{ blog.cleaned_description|truncatechars:100 }}...{% endspaceless %}</p> -->
                                        <a href="/blog/{{ blog.category.slug }}/{{ blog.slug }}" class="line-btn">Read More</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="th-pagination text-center">
                                <ul>
                                    {% if page_obj.has_previous %}
                                    <li>
                                        <a href="?page={{ page_obj.previous_page_number }}">
                                            <i class="far fa-arrow-left"></i>
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% for num in page_range %}
                                        {% if num == page_obj.number %}
                                        <li>
                                            <a href="?page={{ num }}" class="active">{{ num }}</a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                    <li>
                                        <a href="?page={{ page_obj.next_page_number }}">
                                            <i class="far fa-arrow-right"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% else %}
                            <div class="col-12">
                                <div class="alert alert-warning" role="alert">
                                    No blogs found.
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if categories %}
                    <div class="col-xxl-4 col-lg-5">
                        <aside class="sidebar-area">
                            <div class="widget widget_categories">
                                <h3 class="widget_title">Categories</h3>
                                <ul>
                                    {% for category in categories %}
                                        <li>
                                            <a href="/blog/{{ category.slug }}">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="widget">
                                <h3 class="widget_title">Recent Posts</h3>
                                <div class="recent-post-wrap">
                                    {% for blog in recent_blogs %}
                                        <div class="recent-post">
                                            <div class="media-img">
                                                <a href="/blog/{{ blog.category.slug }}/{{ blog.slug }}">
                                                    {% if blog.image %}
                                                        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="width: 80px; height: 80px; object-fit: cover;">
                                                    {% else %}
                                                        <img src="/static/flarebit_site/assets/img/blog/blog_image.jpg" alt="Blog Image" style="width: 80px; height: 80px; object-fit: cover;">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="post-title">
                                                    <a class="text-inherit" href="/blog/{{ blog.category.slug }}/{{ blog.slug }}">{{ blog.title }}</a>
                                                </h4>
                                                <div class="recent-post-meta">
                                                    <a href="/blog/{{ blog.category.slug }}/{{ blog.slug }}">
                                                        <i class="fal fa-calendar-days"></i>
                                                        {{ blog.created_at|date:"d F Y" }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- <div class="widget widget_tag_cloud">
                                <h3 class="widget_title">Popular Tags</h3>
                                <div class="tagcloud">
                                    <a href="blog.html">Technology</a>
                                    <a href="blog.html">Advice</a>
                                    <a href="blog.html">Solution</a>
                                    <a href="blog.html">Consultion</a>
                                    <a href="blog.html">Business</a>
                                    <a href="blog.html">Services</a>
                                    <a href="blog.html">Start Up</a>
                                    <a href="blog.html">Agency</a>
                                    <a href="blog.html">Software</a>
                                </div>
                            </div> -->
                        </aside>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
{% endblock %}