{% extends 'layout.html' %}
{% load blog_filters %}

{% block content %}
{% include 'sections/cover_with_nav.html' %}
<style>
.blog-content-safe {
    /* İçeriği izole et */
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    
    /* İçerik stillerini normalize et */
    line-height: 1.6;
    color: inherit;
    font-family: inherit;
    
    /* İçerik elemanları için temel stiller */
}

.blog-content-safe * {
    max-width: 100%;
    box-sizing: border-box;
}

.blog-content-safe img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
}

.blog-content-safe iframe {
    max-width: 100%;
    aspect-ratio: 16/9;
}

.blog-content-safe h1, 
.blog-content-safe h2, 
.blog-content-safe h3, 
.blog-content-safe h4, 
.blog-content-safe h5, 
.blog-content-safe h6 {
    margin: 20px 0 10px 0;
    line-height: 1.3;
}

.blog-content-safe p {
    margin: 15px 0;
}

.blog-content-safe ul, 
.blog-content-safe ol {
    margin: 15px 0;
    padding-left: 30px;
}
</style>
        <section class="th-blog-wrapper blog-details space-top space-extra-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-8 col-lg-7">
                        <div class="th-blog blog-single">
                            <div class="blog-img">
                                {% if blog.image %}
                                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                {% else %}
                                    <img src="/static/flarebit_site/assets/img/blog/blog_image.jpg" alt="Blog Image">
                                {% endif %}
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <i class="fa-light fa-calendar-days"></i>
                                    {{ blog.created_at|date:"d F Y" }}
                                </div>
                                <h2 class="blog-title">{{ blog.title }}</h2>
                                <div class="blog-description">
                                    {{ blog.description|clean_html }}
                                </div>
                                {% if blog.link %}
                                    <div style="text-align: center;">
                                        <a class="btn btn-primary" style="margin-top: 20px;" href="{{ blog.link }}" target="_blank">
                                            {% if blog.link_text %}
                                                <i class="fa-light fa-link"></i> {{ blog.link_text }}
                                            {% else %}
                                                <i class="fa-light fa-link"></i> Click Here to Read More
                                            {% endif %}
                                        </a>
                                    </div>
                                {% endif %}
                                {% if blog.youtube_embed_code %}
                                    <div class="blog-video-wrapper" style="margin: 20px 0;">
                                        {{ blog.youtube_embed_code|safe }}
                                    </div>
                                {% endif %}
                      
                                {% if blog.video_link %}
                                    <div class="blog-video-wrapper" style="margin: 20px 0;">
                                        <video width="100%" controls>
                                            <source src="{{ blog.video_link }}" type="video/mp4">
                                        </video>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="share-links clearfix">
                                <div class="row justify-content-between">
                                    <div class="col-sm-auto text-xl-end">
                                        <span class="share-links-title">Share:</span>
                                        <ul class="social-links">
                                            <li>
                                                <a href="javascript:void(0)" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}', '_blank', 'width=600,height=400')">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" onclick="window.open('https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}', '_blank', 'width=600,height=400')">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}', '_blank', 'width=600,height=400')">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                        
                                            <li>
                                                <a href="javascript:void(0)" onclick="window.open('https://www.whatsapp.com/share?text={{ request.build_absolute_uri }}', '_blank', 'width=600,height=400')">
                                                    <i class="fab fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if categories %}
                    <div class="col-xxl-4 col-lg-5">
                        <aside class="sidebar-area">
                            <div class="widget widget_categories">
                                <h3 class="widget_title">Categories</h3>
                                <ul>
                                    {% for category in categories %}
                                        <li>
                                            <a href="/blog/{{ category.slug }}">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="widget">
                                <h3 class="widget_title">Recent Posts</h3>
                                <div class="recent-post-wrap">
                                    {% for blog in recent_blogs %}
                                        <div class="recent-post">
                                            <div class="media-img">
                                                <a href="/blog/{{ blog.category.slug }}/{{ blog.slug }}">
                                                    {% if blog.image %}
                                                        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="width: 80px; height: 80px; object-fit: cover;">
                                                    {% else %}
                                                        <img src="/static/flarebit_site/assets/img/blog/blog_image.jpg" alt="Blog Image" style="width: 80px; height: 80px; object-fit: cover;">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="post-title">
                                                    <a class="text-inherit" href="/blog/{{ blog.category.slug }}/{{ blog.slug }}">{{ blog.title }}</a>
                                                </h4>
                                                <div class="recent-post-meta">
                                                    <a href="/blog/{{ blog.category.slug }}/{{ blog.slug }}">
                                                        <i class="fal fa-calendar-days"></i>
                                                        {{ blog.created_at|date:"d F Y" }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- <div class="widget widget_tag_cloud">
                                <h3 class="widget_title">Popular Tags</h3>
                                <div class="tagcloud">
                                    <a href="blog.html">Technology</a>
                                    <a href="blog.html">Advice</a>
                                    <a href="blog.html">Solution</a>
                                    <a href="blog.html">Consultion</a>
                                    <a href="blog.html">Business</a>
                                    <a href="blog.html">Services</a>
                                    <a href="blog.html">Start Up</a>
                                    <a href="blog.html">Agency</a>
                                    <a href="blog.html">Software</a>
                                </div>
                            </div> -->
                        </aside>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
{% endblock %}