{% extends 'layout.html' %}

{% block content %}

{% include 'home_sections/hero.html' %}
{% include 'home_sections/home_contact.html' %}
{% include 'home_sections/home_services.html' %}

<section class="space" id="service-sec">
    <div class="container">
        <div class="row gy-4">
            {% if services %}
                {% for service in services %}
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <div class="service-card_number">S</div>
                        <div class="shape-icon">
                            <img src="{{ service.icon.url }}" alt="Icon">
                            <span class="dots"></span>
                        </div>
                        <h3 class="box-title">
                            <a href="/services/{{ service.slug }}">{{ service.title }}</a>
                        </h3>
                        <p class="service-card_text">{{ service.description|safe|truncatechars:40 }}</p>
                        <a href="/services/{{ service.slug }}" class="th-btn">
                            Read More<i class="fa-regular fa-arrow-right ms-2"></i>
                        </a>
                        <div class="bg-shape">
                            <img src="/static/flarebit_site/assets/img/bg/service_card_bg.png" alt="bg">
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        No services found.
                    </div>
                </div>
            {% endif %}
            
        </div>
    </div>
</section>

{% endblock content %}