
    <!doctype html>
<html class="no-js" lang="zxx">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
            <title>{{ title }}</title>
    <meta name="author" content="Themeholy">
            <meta name="description" content="Webteck - Technology & IT Solutions HTML Template">
            <meta name="keywords" content="Webteck - Technology & IT Solutions HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
            <link rel="apple-touch-icon" sizes="57x57" href="/static/flarebit_site/assets/img/favicons/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="/static/flarebit_site/assets/img/favicons/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="/static/flarebit_site/assets/img/favicons/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="/static/flarebit_site/assets/img/favicons/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="/static/flarebit_site/assets/img/favicons/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="/static/flarebit_site/assets/img/favicons/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="/static/flarebit_site/assets/img/favicons/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="/static/flarebit_site/assets/img/favicons/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="/static/flarebit_site/assets/img/favicons/apple-icon-180x180.png">
            <link rel="icon" type="image/png" sizes="192x192" href="/static/flarebit_site/assets/img/favicons/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/static/flarebit_site/assets/img/favicons/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="/static/flarebit_site/assets/img/favicons/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/static/flarebit_site/assets/img/favicons/favicon-16x16.png">
            <link rel="manifest" href="/static/flarebit_site/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/static/flarebit_site/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/flarebit_site/assets/css/fontawesome.min.css">
            <link rel="stylesheet" href="/static/flarebit_site/assets/css/magnific-popup.min.css">
            <link rel="stylesheet" href="/static/flarebit_site/assets/css/swiper-bundle.min.css">
            <link rel="stylesheet" href="/static/flarebit_site/assets/css/style.css?v=1.0">
    </head>
    <body class="gray-body">
        <div id="preloader" class="preloader">
            <button class="th-btn th-radius preloaderCls">Cancel Preloader</button>
            <div id="loader" class="th-preloader">
                <div class="animation-preloader">
                    <div class="txt-loading">
                        <img style="width: 300px;" src="/static/flarebit_site/assets/img/flarebit.gif" alt="Flarebit">
                    </div>
                </div>
            </div>
        </div>


        {% include 'home_sections/navbar.html' %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        {% load static %}
        {% block content %}
        <div class="th-anim">
            <img src="{% static 'assets/img/about/about_1_1.jpg' %}" alt="About">
        </div>
        {% endblock content %}

        <footer class="footer-wrapper footer-layout2" data-bg-src="/static/flarebit_site/assets/img/bg/footer_bg_1.jpg">
            <div class="widget-area">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-xxl-3 col-xl-4">
                            <div class="widget footer-widget">
                                <div class="th-widget-about">
                                    <div class="about-logo">
                                        <a href="index.html">
                                            {% if site_settings.footer_logo %}
                                                <img style="width: 150px;" src='{{ site_settings.footer_logo.url }}' alt="Webteck">
                                            {% endif %}
                                        </a>    
                                    </div>
                                    <p class="about-text">{{ site_settings.footer_description|default:"" }}</p>
                                    <div class="th-social">
                                        {% if site_settings.facebook %}
                                        <a href="{{ site_settings.facebook }}">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        {% endif %}
                                        {% if site_settings.instagram %}
                                        <a href="{{ site_settings.instagram }}">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        {% endif %}
                                        {% if site_settings.twitter %}
                                        <a href="{{ site_settings.twitter }}">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        {% endif %}
                                        {% if site_settings.linkedin %}
                                        <a href="{{ site_settings.linkedin }}">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                        {% endif %}
                                        {% if site_settings.youtube %}
                                        <a href="{{ site_settings.youtube }}">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                        {% endif %}
                                        {% if whatsapp_number %}
                                        <a href="https://wa.me/{{ whatsapp_number }}">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                        {% endif %}
                                        {% if site_settings.telegram %}
                                        <a href="{{ site_settings.telegram }}">
                                            <i class="fab fa-telegram"></i>
                                        </a>
                                        {% endif %}
                                        {% if site_settings.tiktok %}
                                        <a href="{{ site_settings.tiktok }}">
                                            <i class="fab fa-tiktok"></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-auto">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Quick Links</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="/about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="/services">Services</a>
                                        </li>
                                        <li>
                                            <a href="/blogs">Blogs</a>
                                        </li>
                                        <li>
                                            <a href="/contact">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-auto">
                            <div class="widget footer-widget">
                                <h3 class="widget_title">Contact Us</h3>
                                <div class="th-widget-contact">
                                    {% if phone_number %}
                                        <div class="contact-feature">
                                            <div class="icon-btn">
                                                <i class="fa-solid fa-phone"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="contact-feature_label">Phone Number</p>
                                                <a href="tel:{{ phone_number }}" class="contact-feature_link">{{ phone_number }}</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if site_settings.email %}
                                        <div class="contact-feature">
                                            <div class="icon-btn">
                                                <i class="fa-solid fa-envelope"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="contact-feature_label">Email address</p>
                                                <a href="mailto:{{ site_settings.email }}" class="contact-feature_link">{{ site_settings.email }}</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if site_settings.address %}
                                        <div class="contact-feature">
                                            <div class="icon-btn">
                                                <i class="fa-solid fa-location-dot"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="contact-feature_label">office location</p>
                                                <a href="https://www.google.com/maps" class="contact-feature_link">{{ site_settings.address }}</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-wrap bg-theme">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-6">
                            <p class="copyright-text">
                                Copyright <i class="fal fa-copyright"></i>
                                <script>document.write(new Date().getFullYear())</script> <a href="https://flarebit.qrme.az">Flarebit</a>
                                . All Rights Reserved.
                            </p>
                        </div>
                        <div class="col-lg-6 text-end d-none d-lg-block">
                            <div class="footer-links">
                                <ul>
                                    <li>
                                        <a href="/about">Terms & Condition</a>
                                    </li>
                                    <li>
                                        <a href="/about">Careers</a>
                                    </li>
                                    <li>
                                        <a href="/about">Privacy Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

            <div class="scroll-top">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
            </path>
            </svg>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'flarebit_site/assets/js/vendor/jquery-3.7.1.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/swiper-bundle.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/jquery.magnific-popup.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/jquery.counterup.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/circle-progress.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/jquery-ui.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/imagesloaded.pkgd.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/isotope.pkgd.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/tilt.jquery.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/ScrollTrigger.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/smooth-scroll.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/particles.min.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/particles-config.js' %}"></script>
            <script src="{% static 'flarebit_site/assets/js/main.js' %}"></script>

        </body>
        </html>