{% extends 'layout.html' %}

{% block content %}
        {% include 'sections/cover_with_nav.html' %}
        <section class="space" id="service-sec">
            <div class="container">
                <div class="row gy-4">
                    {% if services %}
                        {% for service in services %}
                            <div class="col-md-6 col-xl-4">
                                <a href="/services/{{ service.slug }}">
                                    <div class="service-grid7 th-ani">
                                        <a href="/services/{{ service.slug }}">
                                            <div class="service-grid7_icon">
                                                <img src="{{ service.icon.url }}" alt="Icon">
                                            </div>
                                        </a>
                                        <a href="/services/{{ service.slug }}">
                                            <div class="service-grid7_content">
                                                <h3 class="box-title">
                                                    <a href="/services/{{ service.slug }}">{{ service.title|truncatechars:40 }}</a>
                                                </h3>
                                                <p class="service-grid7_text">{{ service.description|striptags|truncatechars:40 }}</p>
                                            </div>
                                        </a>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12">
                            <div class="alert alert-warning" role="alert">
                                No services found.
                            </div>
                        </div>
                    {% endif %}
                    
                </div>
            </div>
        </section>
        <section class="position-relative space">
            <div class="th-bg-img" data-bg-src="/static/flarebit_site/assets/img/bg/cta_bg_2.jpg">
                <img src="/static/flarebit_site/assets/img/bg/bg_overlay_1.png" alt="overlay">
            </div>
            <div class="container z-index-common">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-9 text-center">
                        <div class="title-area mb-35">
                            <span class="sub-title">
                                <div class="icon-masking me-2">
                                    <span class="mask-icon" data-mask-src="/static/flarebit_site/assets/img/theme-img/title_shape_2.svg"></span>
                                    <img src="/static/flarebit_site/assets/img/theme-img/title_shape_2.svg" alt="shape">
                                </div>
                                CONTACT US
                            </span>
                            <h2 class="sec-title text-white">
                                Need Any Kind Of IT Solution For <span class="text-theme fw-normal">Your Business?</span>
                            </h2>
                        </div>
                        <a href="tel:{{ phone_number }}" class="th-btn style3"> Call Us {{ phone_number }}</a>
                    </div>
                </div>
            </div>
        </section>
       
{% endblock content %}