<section class="overflow-hidden">
    <div class="container th-container4">
        <div class="cta-sec6 background-image bg-theme" style="background-image: url(&quot;static/flarebit_site/assets/img/bg/cta_bg_6.jpg&quot;);">
            <div class="cta-content">
                <div class="cta-wrapper">
                    <div class="cta-icon">
                        <a href="tel:{{ phone_number }}">
                            <img src="static/flarebit_site/assets/img/icon/call.svg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <span class="header-info_label text-white">Call For More Info</span>
                            <p class="header-info_link">
                            <a href="tel:{{ phone_number }}">{{ phone_number }}</a>
                        </p>
                    </div>
                </div>
                <div class="title-area mb-0">
                    <h4 class="sec-title text-white">Let’s Request a Schedule For Free Consultation</h4>
                </div>
                <div class="cta-group">
                    <a href="#" class="th-btn th-border style-radius open-modal">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>