{% if services %}
<style></style>
    <section class="service-area7 m-4 mt-0 space" id="service-sec">
        <div class="container th-container4">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="title-area text-center">
                        <span class="sub-title">WHAT WE DO</span>
                        <h2 class="sec-title">How To Grow Your Business</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for service in services|slice:":6" %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <a href="/services/{{ service.slug }}">
                        <div class="service-grid7 th-ani">
                            <div class="service-grid7_icon">
                                <img src="{{ service.icon.url }}" alt="Icon">
                            </div>
                            <div class="service-grid7_content" style="min-height: 150px;max-height: 150px;">
                                <h3 class="box-title">
                                    <a href="/services/{{ service.slug }}">{{ service.title|truncatechars:40 }}</a>
                                </h3>
                                <p class="service-grid7_text">{{ service.description|striptags|truncatechars:50 }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}