
    

<!-- Mobile Navbar -->
<div class="th-menu-wrapper">
    <div class="th-menu-area text-center">
    <button class="th-menu-toggle">
    <i class="fal fa-times">
    </i>
    </button>
    <div class="mobile-logo">
    <a class="icon-masking" href="/">
    <span class="mask-icon bg-mask" style="mask-image: url(&quot;static/flarebit_site/assets/img/logo.svg&quot;);">
    </span>
    {% if site_settings.logo %}
        <img src="{{ site_settings.logo.url }}" alt="Logo" style="width: 150px;">
    {% endif %}
    </a>
    </div>
<div class="th-mobile-menu">
<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/about">About Us</a>
    </li>
    <li>
        <a href="/services">Services</a>
    </li>
    <li>
        <a href="/blog">Blog</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
    <li>
        <a href="#" class="th-btn style-radius open-modal-btn" id="openModalBtn">Request A Quote</a>
    </li>

</ul>
</div>
</div>
</div>


<!-- Desktop Navbar -->
<header class="th-header header-layout5">
    <div class="sticky-wrapper">
    <div class="menu-area">
    <div class="container th-container4">
    <div class="row align-items-center justify-content-between">
    <div class="col-auto">
    <div class="header-logo">
    {% if site_settings.logo %}
        <a href="/">
            <img style="width: 150px;" src="{{ site_settings.logo.url }}" alt="Webteck">
        </a>
    {% endif %}
    </div>
    </div>
    <div class="col-auto ms-xl-auto">
    <nav class="main-menu style2 d-none d-lg-inline-block">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About Us</a>
        </li>
        <li>
            <a href="/services">Services</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
    </nav>
    <button type="button" class="th-menu-toggle d-block d-lg-none">
    <i class="far fa-bars">
    </i>
    </button>
    </div>
    <div class="col-auto d-xxl-block d-none">
    <!-- {% if phone_number %}
        <div class="header-button">
            <a href="tel:{{ phone_number }}" class="th-btn style-radius">Call us: {{ phone_number }}</a>
        </div>
    {% endif %} -->
<!-- Button -->

<!-- Modal Trigger Button -->
<div class="header-button">
    <a href="#" class="th-btn style-radius open-modal-btn">Request A Quote</a>
</div>

    {% include 'request-modal.html' %}


    </div>
    </div>
    </div>
    </div>
    </div>
    </header>

